h1,
h2 {
  margin: 0.4em 0;
  padding: 0 10px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  margin: 0 10px;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.2em;
}

/* -------------------------------------- */
/* ----------CHOOSE A CHARACTER-----------*/
/* -------------------------------------- */

.character-cards {
  display: flex;
}

.card {
  border: 1px solid black;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
}

.card-link {
  width: 180px;
  margin: 0 10px;
}

/* .card-link#luke {
  left: 11px;
  top: 58px;
}

.card-link#obiwan {
  left: 180px;
  top: 58px;
}

.card-link#han {
  left: 348px;
  top: 58px;
}

.card-link#darth {
  left: 510px;
  top: 58px;
} */

.card img {
  width: 120px;
  height: 160px;
  margin: 8px 0;
}

/* -------------------------------------- */
/* --------------ENEMIES DIV--------------*/
/* -------------------------------------- */

#enemies {
  display: none;
}

.enemy {
  box-shadow: 0 0 3px 1px red;
}

/* -------------------------------------- */
/* ---------------ARENA DIV---------------*/
/* -------------------------------------- */

#arena {
  display: none;
  flex-direction: column;
  width: fit-content;
  margin-top: 60px;
}

/* -------------------------------------- */
/* ---------------RESET DIV---------------*/
/* -------------------------------------- */

#game-over {
  display: none;
}