h1,
h2 {
  margin: 0.4em 0;
  padding: 0 10px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

/* -------------------------------------- */
/* ----------CHOOSE A CHARACTER-----------*/
/* -------------------------------------- */

.character-cards {
  display: flex;
}

.card {
  border: 1px solid black;
  border-radius: 4px;
  margin: 0 10px;
  padding: 20px;
  text-align: center;
}

.card > img {
  width: 100px;
  height: 140px;
  margin: 8px 0;
}

/* Responive class */

.enemy {
  box-shadow: 0 0 3px 1px red;
}
